body {
   margin: 10px;
   padding: 0;
   background-color:  lightGray;
   font-family: Verdana, sans-serif;
   font-size: 0.9em;
}

#menubars ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

#menubars ul li {
	float: left;
}

#menubars ul li a:hover, a:active {
    background-color: #000000;
}

#menubars ul li a:link, a:visited {
	display: table-cell;
	width: 200px;
	height: 30px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    vertical-align:middle;
    font-size: 14px;
    text-decoration: none;

}



.heading {
  padding: 10px 10px 10px 10px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  border: 1px solid black;
  font-size: 1.4em;
  font-style: italic;
  font-family: Verdana;
  text-align: left;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1px;
  width: 1020px;
  position:relative;
}

.menu {
  background: #000000;	
  position:relative;
  height: 30px;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  width: 1040px;
}

.content {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border: thin solid black;
  background: #FFFFFF;	
  position:relative;
  height: 560px;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.rich-panel{
	background-color: #000000;
}
